
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 210 20% 98%;
    --card: 240 4% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 240 4% 10%;
    --popover-foreground: 210 20% 98%;
    --primary: 330 95% 62%;
    --primary-foreground: 210 20% 98%;
    --secondary: 240 4% 15%;
    --secondary-foreground: 210 20% 98%;
    --muted: 240 4% 15%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 262 85% 65%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 240 4% 20%;
    --input: 240 4% 20%;
    --ring: 330 85% 58%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
